<?xml version="1.0" ?>

<!-- <world name="demo_world" gravity="0.0 0.0 0.0"> -->
<world name="world" gravity="0.0 0.0 -9.81">

	<robot name="mmp_panda">
		<model dir="./resources" path="mmp_panda.urdf" name="mmp_panda" />
        <origin xyz="1.5 0.0 0" rpy="0 0 0" />
	</robot>

    <!--<robot name="mmp_panda_2">
        <model dir="./resources" path="mmp_panda.urdf" name="mmp_panda" />
        <origin xyz="-6.5 -2.1 -0.1524" rpy="0 0 0" />
    </robot>

    <!-- <static_object name="mmp_panda_2">
        <origin xyz="0.0 0.0 0" rpy="0 0 0" />
        <visual>
            <origin xyz="-6.0 -2.1 -0.1524" rpy="0 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/mmp_panda_2" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
    </static_object> -->

    <!-- YZ_steel -->
    <static_object name = "Column1">
        <origin xyz="0.0 0.0 0" rpy="0 0 0" />
        <!--<collision>
            <origin xyz="0.0 0.0 -0.1524" rpy="0 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/test_objects/meshes/visual/YZ_steel.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </collision> -->
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/test_objects/meshes/visual/Column1.obj" scale="1.0 1.0 1.0"/>
            </geometry>
            <!--<material name="safety_orange">
                <color rgba="1.0 0.6 0.1 1.0" />
            </material> -->
        </visual>
    </static_object>

    

    <!-- <static_object name="Column">
        <origin xyz="0.0 0 0" rpy="0 0 0" />
        <collision>
            <origin xyz="0.035 2.4 0" rpy="0 0 0" />
            <geometry>
                <box size="0.18 0.18 4.9" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.035 2.4 0" rpy="0 0 0" />
            <geometry>
                <box size="0.18 0.18 4.9" />
            </geometry>
            <material name="material_red">
                <color rgba="0.5 0.1 0.1 1.0" />
            </material>
        </visual>
    </static_object>

    <static_object name="Beam">
        <origin xyz="0.0 0 0" rpy="0 0 0" />
        <collision>
            <origin xyz="0.035 -0.15 2.3" rpy="0 0 0" />
            <geometry>
                <box size="0.0078 4.7 0.47" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.035 -0.15 2.3" rpy="0 0 0" />
            <geometry>
                <box size="0.0078 4.7 0.47" />
            </geometry>
            <material name="material_red">
                <color rgba="0.5 0.1 0.1 1.0" />
            </material>
        </visual>
    </static_object> -->


    <!-- bolts for column 1 -->
   <!--<static_object name = "bolt_1RB">
        <origin xyz="0.097 2.204 2.1476" rpy="1.57 0 0" />
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/bolt/meshes/visual/bolt.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name = "bolt_1RT">
        <origin xyz="0.097 2.204 2.4076" rpy="1.57 0 0" />
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/bolt/meshes/visual/bolt.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name = "bolt_1LB">
        <origin xyz="-0.03 2.204 2.1476" rpy="1.57 0 0" />
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/bolt/meshes/visual/bolt.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
    </static_object>

    <static_object name = "bolt_1LT">
        <origin xyz="-0.03 2.204 2.4076" rpy="1.57 0 0" />
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <mesh filename="./resources/../../../model/bolt/meshes/visual/bolt.obj" scale="1.0 1.0 1.0"/>
            </geometry>
        </visual>
    </static_object> -->

    

	<light name="light1" type="directional">
		<position xyz="-4.0 -2.0 10.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<!-- <light name="light2" type="directional">
		<position xyz="-2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light> -->

    <static_object name="Floor">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <collision>
            <origin xyz="0.0 0.0 -0.1" rpy="0 0 0" />
            <geometry>
                <box size="3.0 3.0 0.1" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.0 0.0 -0.1" rpy="0 0 0" />
            <geometry>
                <box size="3.0 3.0 0.1" />
            </geometry>
            <material name="safety_orange">
                <color rgba="1.0 0.1 0.1 1.0" />
            </material>
        </visual>
    </static_object> -->

	<camera name="camera_fixed">
		<position xyz="2.0 -1.2 1.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 2.5 0.3" />
	</camera>

	<!--<camera name="camera">
		<position xyz="2.0 -0.8 1.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</camera> -->

</world>
